body {
  background-color: rgb(223, 223, 223);
}

.App {
  text-align: center;
}

.account-data-container {
  display: flex;
  flex-wrap: wrap;
}

.account-data-container > div {
  text-align: left;
  margin: 2px;
}

.formik-login-container {
  position: relative;  
  margin-top: 5%;
}

.login-email, .login-password {
  text-align: left;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
