body {
  background-color: rgb(125, 122, 122);
}

.App {
  text-align: center;
}

.account-data-container,
.invoice-data-container,
.items-container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.account-data-container > div,
.invoice-data-container > div,
.items-container > div {
  margin: 2px;
}

.formik-login-container {
  position: relative;
  margin-top: 5%;
}

.login-email,
.login-password {
  text-align: left;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-table,
.item-table th,
.item-table td {
  padding: 10px;
  border-collapse: collapse;
  border: 1px solid black;
}
